$principal: #1bbc9b;
$secundaria: #1bbc9b1a;
$branco: #fff;
$subtitulo: #999;
$titulo: #666;
$icone: #666;
$texto: #8a8a8a;
$fundo: #f5f5f5;
$vermelho: #f33;
$paginaAtiva: #ccc;
$sombra: #01000114;

$fontePadrao: Arial, Helvetica, sans-serif;