@import "../../scss/variables";

.geral {
    margin: 0 20px;
    .card {
        background: $branco;
        border-radius: 6px;
        box-shadow: 4.915px 3.441px 6px 0px $sombra;
        padding: 20px 20px;
        display: inline-block;
        margin-left: 1%;
        span {
            font-weight: bold;
            font-size: 22px;
            color: $principal;
        }
        @media (min-width: 1120px) {
            display: inline-block;
            width: 49%;
        } 
        @media (max-width: 1121px) {
            width: 98%;
            margin-bottom: 3%;
        }
    }
    .row {
        width: 50%;
        display: inline-block;
    }
}